html {
  min-height: 100%;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  widht: auto;
  min-height: 100%;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.activateAr{
  top: 50%;
  left: 50%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
