html {
  min-height: 100vh;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  widht: auto;
  min-height: 80vh;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.activateAr{
  top: 50%;
  left: 50%;
  background-color: #fe4a49; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 5%;
}

header{
  width: 100%;
  height: auto;
  background-color: #2ab7ca;
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Muli', sans-serif;
  color: white;
  display: inline-flex;
} 

.titulo{
    margin: 5px 10px 5px 10px;
    padding: 10px 5px 0 0;
    top: 0;
    left: 0;
    border-right: 2px solid white;
}
